.nav {
    display: flex;
    gap: 3px;
    list-style-type: none;
    padding: 4px;
    border: 1px aliceblue;

    li {
        background-color: fuchsia;
        padding: 4px;
        border-radius: 4px;

        a {
            color: white;
            text-decoration: none;
        }
    }
}